h1{
    text-align: center;
  }
  table{
    margin: auto;
    border: black 1px solid;
  }
  table th:nth-child(1) {
    padding: 0 120px;
  }
  table th {
    background-color: #AAAAAA;
    padding: 0 50px;
  }
  table td{
    background-color: #FF7F50;
  }
  form{
      text-align: center;
  }
  button{
      border-radius: 5pt;
  }